@import "tailwindcss";

.delivering {
    background: #e1f5fe;
    color: #0288d1;
}
.done {
    background: #e8f5e9;
    color: #27ae60;
}
.pending {
    background: #fff3e0;
    color: #e67e22;
}
.cancel {
    background: #ffebee;
    color: #c0392b;
}
